@{
    ViewData["Title"] = "The Web Store | Shopping Cart";
}

<h2 class="display-4">My shopping cart</h2>
<hr/>
<p>Your cart is empty</p>

<div>
    <a class="btn btn-outline-dark" asp-controller="Store" asp-action="Index">Back to Store</a>
</div>
