@{
    ViewData["Title"] = "The Web Store";
}

<div class="text-center m-2">
    <form asp-action="SeedDatabase" method="post">
        <button type="submit" class="btn btn-danger">Initialize Database</button>
    </form>
</div>
