@{
    ViewData["Title"] = "The Web Store";
}

<div class="container align-content-center">
    <div class="py-5 text-center">
        <h2 class="display-4">Thank you!</h2>
        <hr />
        <p class="lead">The ordered products will be send as soon as possible.</p>
        <p class="lead">You can check order details at your account.</p>
    </div>
    <div class="btn-group align-content-center">
        <a class="btn btn-outline-dark" asp-controller="Store" asp-action="Index">Back to store</a>
        <a class="btn btn-success" asp-controller="User" asp-action="Orders">Order details</a>
    </div>
</div>