@using Microsoft.AspNetCore.Identity
@model WebStore.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "The Web Store | Change Password";
}

<div class="mt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="col-md-12">
                    <form class="form-signin" id="register-form" asp-controller="User" asp-action="ChangePassword" method="post">
                        <div class="text-center">
                            <p class="h3 mb-3 font-weight-normal display-4">Change password</p>
                        </div>
                        <div class="form-group">
                            <label asp-for="Login"></label>
                            <input class="form-control d-block" style="width: 100%" asp-for="Login" value="@User.Identity.Name" readonly="readonly" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input type="password" class="form-control d-block showpassword" style="width: 100%" asp-for="CurrentPassword" placeholder="Current Password" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control d-block showpassword" style="width: 100%" asp-for="NewPassword" placeholder="New Password" />
                            <small class="form-text text-muted">Password must be/have at least: 6 characters, one non alphanumeric character, one digit ('0'-'9'), one uppercase ('A'-'Z')</small>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RepeatPassword"></label>
                            <input type="password" class="form-control d-block showpassword" style="width: 100%" asp-for="RepeatPassword" placeholder="Repeat New Password" />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-secondary" type="button" name="showpassword" id="showpassword" value="Show Password">Show Password</button>
                            <button type="submit" class="btn btn-warning">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>